<!DOCTYPE html>
<html lang="en">
<head>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <p>Hello, you have chosen, <%= @name.upcase %></p>

        <p><%= @name %>'s id is <%= @id %></p>
    
        <div class="stats">
            <p id="title">Has stats</p>
            <% @stats.each do |stat| %>
                <p><%= stat[:name].upcase %></p>
                <p><%= stat[:val] %></p>
            <% end %>
        </div>

        <div class="abilities">
            <p>Has abilities</p>
            <% @abilities.each do |ability| %>
                <p><%= ability.upcase %></p>
            <% end %>
        </div>
    </div>
</body>
</html>

