<!DOCTYPE html>
<html lang="en">
<head>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
      <div class="search">
        <form action="/pokemon/<%= @name %>" method="get">
          <label for="search">Search for a pokemon</label>
          <input type="text" id="search" name="search" placeholder="Pikachu">
          <input type="submit" value="Search">
        </form>
      </div>

      <div class="basicinfo">
        <img id="sprite1" src="<%= @sprite1 %>" alt="front sprite">
        <img id="sprite2" src="<%= @sprite2 %>" alt="back sprite">
        <p id="id">ID: <%= @id %></p>
        <p id="name">Name: <%= @name %></p>
        <div class="type">
          <% @types.each_with_index do |temp| %>
            <p>type: <%= temp["type"]["name"] %></p>
          <% end %>
        </div>
        <div class="appearance">
          <p>height: <%= (@height * 0.3).round(1)%>m</p>
          <p>weight: <%= (@weight / 2.2).round(1)%>kg</p>
        </div>
      </div>

      <div class="extrainfo">
      </div>



    </div>
</body>
</html>

